<plugin name='metridoc-gate' version='0.9.0' grailsVersion='2.3.4 &gt; *'>
  <author>Gavin Young</author>
  <authorEmail>zhenghao@seas.upenn.edu</authorEmail>
  <title>Metridoc Gate Plugin</title>
  <description>        Plugin to help collect data of time and location of people entering libraries
        </description>
  <documentation>http://grails.org/metridoc/metridoc-grails</documentation>
  <type>MetridocGateGrailsPlugin</type>
  <resources>
    <resource>gateSQLQueries</resource>
    <resource>metridoc.gate.GateTransactionController</resource>
    <resource>metridoc.gate.GateAffiliation</resource>
    <resource>metridoc.gate.GateCenter</resource>
    <resource>metridoc.gate.GateDepartment</resource>
    <resource>metridoc.gate.GateDoor</resource>
    <resource>metridoc.gate.GateEntryRecord</resource>
    <resource>metridoc.gate.GateUSC</resource>
    <resource>metridoc.gate.gateSearchService</resource>
  </resources>
</plugin>