<plugin name='metridoc-illiad' version='0.7.11-SNAPSHOT' grailsVersion='2.0 &gt; *'>
  <author>Thomas Barker</author>
  <authorEmail>tbarker@pobox.upenn.edu</authorEmail>
  <title>Metridoc Illiad Plugin</title>
  <description>Simple dashboard is provided
to display some simple stats for the current fiscal year and to download all available data
</description>
  <documentation>https://github.com/metridoc/metridoc-grails-illiad</documentation>
  <type>MetridocIlliadGrailsPlugin</type>
  <resources>
    <resource>IlliadResources</resource>
    <resource>metridoc.illiad.IlliadController</resource>
    <resource>metridoc.illiad.IllCache</resource>
    <resource>metridoc.illiad.IllFiscalStartMonth</resource>
    <resource>metridoc.illiad.IlliadReportingService</resource>
    <resource>metridoc.utils.DateUtil</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://dl.bintray.com/upennlib/metridoc' url='http://dl.bintray.com/upennlib/metridoc/' />
    <repository name='http://dl.bintray.com/upennlib/maven' url='http://dl.bintray.com/upennlib/maven/' />
  </repositories>
  <dependencies>
    <test>
      <dependency group='org.spockframework' name='spock-grails-support' version='0.7-groovy-2.0' />
    </test>
    <compile>
      <dependency group='net.sf.opencsv' name='opencsv' version='2.3' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>